@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-livecode {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-flow: dense;
  width: 100%;
  background-color: white;
  pre {
    margin: 0;
  }
  .token-line {
    display: table-row;
    &__number {
      display: table-cell;
      text-align: right;
      padding-right: 1em;
      user-select: none;
      opacity: 0.5;
    }
    &__content {
      display: table-cell;
    }
  }
}

@include media-breakpoint-down(sm) {
  .af-livecode {
    grid-gap: 0;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
}
