@import '@axa-fr/react-toolkit-core/dist/assets/scss/core.scss';

.af-filter-inline__default{
  &--search-distributors{
    width: 40%;
    .af-form__group-label{
      display: block;
    }
    .af-form__input-text{
      width: 250px;
    }
    .af-form__help{
      bottom: inherit;
    }
  }
}