@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

.af-tabs {
  &--tabs-live-code {
    .af-tabs__pane {
      padding: 0;
      position: relative;
    }
    .af-tabs__link {
      font-weight: 500;
    }
  }
}

@include media-breakpoint-down(sm) {
  .af-tabs {
    &--tabs-live-code {
      .af-tabs__item--has-icon-left {
        padding-left: 0;
      }
      .af-tabs__link {
        font-size: 0;
        padding: 0 2rem;
      }
      .af-tabs__item .glyphicon {
        font-size: 1rem;
      }
    }
  }
}
