@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes translatein {
  0% {
    transform: translate(-200%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes translate-out {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-200%, 0);
  }
}

@keyframes slideToLeft {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes slideToRight {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes appearmessage {
  0% {
    opacity: 0;
    right: 54%;
  }

  50% {
    opacity: 0;
    right: 30%;
  }

  100% {
    opacity: 1;
    right: 24%;
  }
}
