@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes translatein {
  0%   { transform: translate(-200%, 0); }
  100% { transform: translate(0, 0); }
}

@keyframes translate-out {
  0% { transform: translate(0, 0); }
  100% { transform: translate(-200%, 0); }
}