@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';

$bgColorEditor: #1e1e1e;

.af-clipboard {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  .glyphicon {
    color: $color-white;
    font-size: 1rem;
    cursor: pointer;
    transition: text-shadow ease-in 0.25s;
  }
  &:hover {
    .glyphicon {
      color: $color-flamingo;
    }
  }
  &__message {
    color: $bgColorEditor;
    transition: color linear 0.5s;
    position: absolute;
    bottom: -21px;
    right: -16px;
    width: 57px;
  }
  &--clicked &__message {
    color: $color-white;
  }
}
