@import '@axa-fr/react-toolkit-form-core/dist/form.scss';
@import '@axa-fr/react-toolkit-title/dist/title.scss';
@import '@axa-fr/react-toolkit-button/dist/button.scss';
@import '@axa-fr/react-toolkit-form-input-text/dist/inputtext.scss';
@import '@axa-fr/react-toolkit-form-input-select/dist/select.scss';
@import '@axa-fr/react-toolkit-form-input-radio/dist/radio.scss';
@import '@axa-fr/react-toolkit-form-input-checkbox/dist/checkbox.scss';
@import '@axa-fr/react-toolkit-form-input-file/dist/file.scss';
@import '@axa-fr/react-toolkit-form-input-textarea/dist/textarea.scss';
@import '@axa-fr/react-toolkit-loader/dist/spinner.scss';
@import '@axa-fr/react-toolkit-popover/dist/popover.scss';
@import '@axa-fr/react-toolkit-link/dist/link.scss';
@import '@axa-fr/react-toolkit-modal-default/dist/modal.scss';
@import '@axa-fr/react-toolkit-table/dist/table.scss';
@import '@axa-fr/react-toolkit-alert/dist/alert.scss';
@import '@axa-fr/react-toolkit-badge/dist/badge.scss';
@import '@axa-fr/react-toolkit-layout-footer/dist/footer.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/NavBar/nav.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Drawer/drawer.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Header/header.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Name/name.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/User/user.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Logo/logo.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Infos/infos.scss';
@import '@axa-fr/react-toolkit-layout-header/dist/Title/title-bar.scss';
@import '../shared/scss/fixes-toolkit.scss';
