@import '@axa-fr/react-toolkit-core/dist/assets/scss/core.scss';
@import '../shared/scss/mixins.scss';

.af {
  &-btn {
    &__img {
      width: 19px;
      fill: $white;
      @include centerer;
    }
    &--circle-small {
      &:hover {
        .af {
          &-btn {
            &__img {
              fill: $color-axa;
            }
          }
        }
      }
    }
    &--circle-disabled {
      background-color: $color-gray-2;
      border-color: $color-gray-1;
      cursor: not-allowed;
      color: $color-gray-1;
      &:hover {
        background-color: $color-gray-2;
        border-color: $color-gray-1;
        color: $color-gray-1;
      }
    }
  }

  &-actions {
    display: flex;
    justify-content: space-evenly;
  }
}
