@import '@axa-fr/react-toolkit-core/dist/assets/scss/core.scss';

.ReactModal__Overlay:has(.af-modal--editor) {
  z-index: 2000;
}
.af-modal--editor {
  width: 60vw;
  max-width: inherit;
}

.af-btn--delete {
  background-color: $color-red-error;
  &:hover {
    background-color: white;
    color: $color-red-error;
    border-color: $color-red-error;
  }
}

.af-templates {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid $color-gray-2;
  border-radius: 30px;
  margin-bottom: 0.5rem;
  line-height: 1;
  .af-btn--circle {
    &:first-child {
      margin-right: auto;
    }
  }
}

.af-popover__container--editor .af-popover__container-pop {
  width: 100px;
}

@include media-breakpoint-down(sm) {
  .af-modal--editor {
    width: 100vw;
  }
  .af-templates {
    overflow: auto;
    width: 100%;
    .af-popover__wrapper {
      display: inline-block;
      margin: 0;
    }
  }
}
