@import '@axa-fr/react-toolkit-core/src/common/scss/core.scss';
@import '../../scss/variables.scss';

$base-color: #eaeaf8;
$shine-color: #ffffff;
$classBase: af-loader;

.#{$classBase} {
  position: relative;
  width: 100%;
  &--active {
    min-height: calc(100vh - (calc(var(--fullheaderHeight) + var(--footerHeight))));
  }
  &__spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-scorpion;
    font-size: 1.1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    padding-top: 3rem;
    &::before {
      content: '';
      background: rgba(220, 220, 255, 0.75);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: calc(50% - 1rem);
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      background-color: $brand-primary;
      animation: rotateplane 1.1s infinite ease-in-out;
    }
  }
  &--skeleton {
    min-height: inherit;
  }
  &--skeleton &__spinner {
    padding: 0;
    font-size: 0;
    &::before {
      background: linear-gradient(-45deg, $base-color 40%, $shine-color 50%, $base-color 60%);
      background-size: 400% 400%;
      animation: pulse 1s ease-in infinite;
    }
    &::after {
      display: none;
    }
  }
  &--fullscreen &__spinner {
    height: 100vh;
    position: fixed;
  }
}

@keyframes rotateplane {
  0% {
    transform: translate(-50%, -50%) perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: translate(-50%, -50%) perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: translate(-50%, -50%) perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
