#root > div > div {
  text-align: left !important;
}

.sb-nopreview_main {
  display: none;
}

.storygrid {
  background-color: rgba(34, 102, 153,0.2);
  background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  position: relative;
  width: 100vw;
  height: 100vh;
}