.ReactModal__Overlay {
  z-index: 1000;
  overflow: auto;
  &--after-open {
    background: rgba(48, 50, 191, 0.62) !important;
    backdrop-filter: blur(5px);
  }
}

.af-modal__body {
  max-height: inherit;
}
