@import '@axa-fr/react-toolkit-core/dist/assets/scss/core.scss';

@mixin editPropLink {
  margin-left: auto;
  text-decoration: none;
  cursor: pointer;
  * {
    color: $color-red-error;
  }
}

.af-editor {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  &__header {
    background-color: black;
    padding: 0.5rem 1rem;
    color: $color-gray-2;
    display: flex;
    gap: 1rem;
    line-height: 1;
    .af-link {
      color: $color-gray-2;
      display: flex;
      height: 18px;
      fill: $color-gray-2;
      line-height: 1;
      &:has(.glyphicon.glyphicon-cog) {
        @include editPropLink;
      }
      .af-icon-svg {
        margin-right: 0.5rem;
        height: 100%;
      }
      .glyphicon-cog {
        margin-right: 0.4rem;
        text-decoration: none;
      }
      &__npm-name {
        position: relative;
        width: 126px;
        height: 20px;
      }
    }
  }
}

.af-btn--circle--close-editor {
  background: $color-axa;
  color: white;
  width: 26px;
  height: 26px;
  font-size: 1rem;
  border-color: $color-axa;
  transition: background-color 0.3s linear, color 0.3s linear;
  &:hover {
    background: white;
    color: $color-axa;
  }
}

@supports not selector(:has) {
  .af-editor {
    &__header {
      .af-link:last-child {
        @include editPropLink;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .af-editor {
    margin-bottom: 0;
    &__header {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.af-form-editor {
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-white;
  padding-bottom: 1.5rem;
  &__field {
    padding: 0.4rem 1rem;
    &:has(.af-form-editor__separator) {
      padding: 0.2rem;
      background: $color-gray-2;
      color: $color-scorpion;
      margin: 1rem 0 0 0;
    }
    &:not(:last-child) {
      border-bottom: 1px solid $color-gray-2;
    }
    & > label {
      display: block;
      width: 100%;
    }
    .af-form__group-label {
      color: $color-scorpion;
      font-size: 0.8rem;
    }
    .af-form__input-text {
      padding: 0.2rem 0.5rem;
      width: 100%;
    }
    .af-form__select-container {
      display: block;
    }
    .af-form__input-select {
      padding: 0.2rem 2.7rem 0.2rem 1rem;
      width: 100%;
    }
    .af-form__input-textarea {
      width: 100%;
    }
    .af-form-editor__separator {
      margin: 0;
    }
  }
  .af-form__group {
    &--date-custom {
      margin-bottom: 0;
    }
  }
}
.af-btn--editor {
  padding: 0.5rem 1rem;
  min-width: auto;
  border-radius: 0.5rem;
}

.af-draggable {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 13px;
    bottom: 0;
    left: 0;
    box-shadow: inset 0px -11px 12px -7px rgb(0 0 0 / 56%);
    z-index: 2;
  }
  &-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2001;
    display: flex;
  }

  &__title {
    background-color: $color-axa;
    color: white;
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    cursor: grab;
  }
  &__tools {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  &__content {
    overflow-y: scroll;
    overflow-x: hidden;
    resize: vertical;
    max-height: 90vh;
    background-color: white;
  }
  .glyphicon-move {
    font-size: 1.6rem;
  }
  .glyphicon-close {
    cursor: pointer;
  }
}
