@import '@axa-fr/react-toolkit-core/dist/assets/scss/core.scss';

.af-title-bar__mobile-menu {
  display: none;
  background-color: $color-axa;
}

@include media-breakpoint-down(sm) {
  .af-title-bar__mobile-menu {
    position: fixed;
    display: block;
    top: 78px;
    right: 0;
    z-index: 12;
    width: 2rem;
    height: 2rem;
  }
}

.af-nav.af-drawer.left {
  z-index: 17;
}
.af-nav__list--children {
  .af-nav__item--separator {
    text-transform: uppercase;
    background: $color-gray-2;
    &:hover {
      .af-nav__link {
        color: $color-texte;
        background: $color-gray-2;
      }
    }
  }
}
